.title{
  text-align: center;
  padding: 20px;
  background: linear-gradient(to right, #ff9a9e, #fad0c4);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.title a{
  text-decoration: none;
  font-size: 24px;
  color:lightcoral;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
