<div class="movie-details-container">
  <h1>{{ movie?.Title }}</h1>
  <div class="movie-main">
    <div>
      <img [src]="movie?.Poster" [alt]="movie?.Title"/>
    </div>
    <div class="movie-info">
      <p>{{ movie?.Plot }}</p>
      <ul>
        <li><strong>Language:</strong> {{ movie?.Language }}</li>
        @if (movie && movie.Genre) {
          <li><strong>Genres:</strong> {{ movie.Genre.split(',').join(" | ") }}</li>
        }
        <li><strong>Year Released:</strong> {{ movie?.Released }}</li>
        <li><strong>Type:</strong> {{ movie?.Type | titlecase }}</li>
        @if (movie?.Type === 'series') {
          <li><strong>Seasons:</strong> {{ movie?.totalSeasons }}</li>
        }
        <li><strong>Rating:</strong> {{ movie?.imdbRating || 'N/A' }} ⭐</li>
      </ul>
    </div>
  </div>
  <hr/>
  <div class="infos">
    <div class="left-column">
      <h2>Cast</h2>
      @if (cast.length > 0) {
        <ul class="cast-list">
          @for (c of cast; track c) {
            <li>
              <img [src]="actors[c].image || defaultImage" alt="{{ c }}" class="cast-photo">
              <div class="cast-item">
                <span>{{ c }}</span>
                <a [href]="'https://www.themoviedb.org/person/' + actors[c].id" target="_blank">
                  View Actor Page
                </a>
              </div>
            </li>
          }
        </ul>
      } @else {
        <p>Cast data is not available.</p>
      }

    </div>
    <div class="right-column">
      <h2>Episodes</h2>
      @if (seasons.length > 0) {
        <div >
          <div class="season-buttons">
            @for (season of seasons; track season.Season) {
              <button
                (click)="Season(season.Season)"
                [class.active]="selectedSeason === season.Season">
                S{{ season.Season }}
              </button>
            }
          </div>

          <div >
            @if (selectedSeason) {
              <ul class="episode-list">
                @for (season of seasons; track season.Season) {
                  @if (season.Season === selectedSeason) {
                    @for (ep of season.Episodes; track ep.Episode) {
                      <li>
                        S{{ season.Season }}E{{ ep.Episode }} {{ ep.Title }}
                      </li>
                    }
                  }
                }
              </ul>
            } @else {
              <p>Select a season to see episodes</p>
            }
          </div>
        </div>
      } @else {
        <p>No season data available.</p>
      }
    </div>
  </div>
</div>
