<div class="movie-card">
  @if (fullMovie) {
    <img [src]="fullMovie.Poster !== 'N/A' ? fullMovie.Poster : '/No_Image_Available.jpg'"
         alt="{{ fullMovie.Title }}"
         class="poster">

    <div class="movie-info">
      <h3>{{ fullMovie.Title }} ({{ fullMovie.Year }})</h3>
      <p><strong>Plot:</strong> {{ fullMovie.Plot }}</p>
      <p><strong>Rating:</strong> {{ fullMovie.imdbRating || 'N/A' }} ⭐</p>

      @if (fullMovie.Genre) {
        <p>
          <strong>Genres:</strong>
          {{ fullMovie.Genre.split(',').join(' | ') }}
        </p>
      }

      <a [routerLink]="['/movie', fullMovie.imdbID]">More details</a>
    </div>
  } @else {
    <h2 class="loading">Loading...</h2>
  }
</div>
